<ion-header>

  <ion-navbar color="danger">

    <ion-title style="text-align: center;">Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <img src="../assets/imgs/hospital-icon.png" class="image">
    </ion-item>
    <ion-item class="row">
      <ion-label color="primary">Email: </ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Text Input" text-wrap></ion-input>
    </ion-item>
    <ion-item class="ro">
      <ion-label color="primary">Password:</ion-label>
      <ion-input [(ngModel)]="password" placeholder="Text Input" type="{{type}}" text-wrap></ion-input>
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    </ion-item>
    <button ion-button class="but" text-center (click)="Login()" [disabled]="!email || !password">Login
</button>
    <ion-item class="fp" text-wrap no-lines>
      <button ion-button class="but" text-center (click)="Reset()">
            Forgot Password</button>
    </ion-item>



  </ion-list>
</ion-content>