<ion-header>

  <ion-navbar color="danger">



    <ion-title style="text-align: center;">Update Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
  <ion-list *ngFor="let item of items " >
    <form [formGroup]="myForm">
      <ion-item>
        <ion-label color="primary">Name:</ion-label>
        <ion-input formControlName="Name" [class.invalid]="!myForm.get('Name').valid && (myForm.get('Name').dirty || submitAttempt)"
          placeholder="Text Input" value="{{ item.Name }}"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!myForm.get('Name').valid && myForm.get('Name').touched">
        <p>Please enter a valid name.</p>
      </div>
   
 
      <ion-item>
        <ion-label color="primary" text-wrap>Personal Contact:</ion-label>
        <ion-input formControlName="tel" type="tel"  value="{{ item.Tel }}" placeholder="Tel Input" [class.invalid]="!myForm.get('tel').valid  && (myForm.get('tel').dirty || submitAttempt)"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!myForm.get('tel').valid && myForm.get('tel').touched">
        <p>Please enter a valid phone number of 8 characters.</p>
      </div>

      <ion-item>
        <ion-label color="primary" >Gender:</ion-label>
        <ion-label class="genders"> {{ item.Gender}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label color="primary">IC:</ion-label>
        <ion-input formControlName="IC" placeholder="Text Input"  value="{{ item.IC }}" [class.invalid]="!myForm.get('IC').valid  && (myForm.get('IC').dirty || submitAttempt)"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!myForm.get('IC').valid  && myForm.get('IC').touched">
        <p>Enter valid IC.</p>
      </div>


      <ion-item>
        <ion-label color="primary">Address:</ion-label>
        <ion-input formControlName="address"  value="{{ item.Address }}" placeholder="Address Input"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!myForm.get('address').valid  && myForm.get('address').touched">
        <p>Please enter a valid address.</p>
      </div>

      <ion-item>
        <ion-label color="primary" text-wrap>License Plate:</ion-label>
        <ion-input formControlName="plateNo" type="text"  value="{{ item.PlateNo }}" placeholder="License Plate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Date of birth:</ion-label>
        <ion-datetime class="date" formControlName="myDate" [(ngModel)]="myDate" displayFormat="DD/MM/YYYY"  (ionChange)="getAge()" pickerFormat="DDDD MMMM YYYY"></ion-datetime>
      </ion-item>

      <ion-item disabled>
        <ion-label color="primary">Age:</ion-label>
        <ion-input disabled formControlName="age" id="age" type="text" value="{{ item.Age }}" [disabled]="true"></ion-input>
      </ion-item>
      <div *ngIf="AgeError">
        <p>You must be between 18 & 70.</p>
      </div>









    </form>
  </ion-list>
  <button ion-button [disabled]=" !myForm.valid || !isenabled" class="react" (click)="Update()">Update 
</button>
</ion-content>