<ion-header>
  <ion-navbar color="danger">

    <button persistent="true"  ion-button class="damn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Booking Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-list *ngFor="let item of items | async" [hidden]="items === 0">
  <ion-item  (click)="gotoPage(item.key)">
   <p>Time: {{ item.Starttime }}</p>   
    
  </ion-item>
</ion-list>
  <ion-list-header *ngIf="( items | async)?.length==0">
      No Bookings Found
  </ion-list-header>
</ion-content>
