"
<ion-header>
  <ion-navbar color="danger">

    <button persistent="true" ion-button class="damn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Booking Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col color="primary" col-10>
        <h3>{{(items | async)?.length}} records found </h3>
      </ion-col>

      <ion-col color="primary">
        <img src="../assets/imgs/filter.png" class="image" (click)="Filter()">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-item class="col" >
  
        <ion-input  class="date" type="date" pickerFormat="MMMM YYYY" (input)="FilterDate()" displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate" [min]="today" pickerFormat="DDDD MMMM YYYY"  novalidate></ion-input>
    </ion-item>
    <ion-item class="col">
     <ion-select class="ion-select" text-wrap>
    <ion-option text-wrap value="f">Female </ion-option>
    <ion-option text-wrap value="m">Male</ion-option>
  </ion-select>
    </ion-item>-->

  <ion-list text-wrap *ngFor="let item of (items | async)?.reverse()">
    <ion-item-divider *ngIf="toggle" sticky class="ion-item-divider">
      <ion-label>Start Time: {{ item.startTime }}
      </ion-label>

    </ion-item-divider>
    <ion-item (click)="gotoPage(item.key)" *ngIf="toggle">
      <p>Address: {{ item.Address }}</p>
      <p>Gender : {{ item.Gender }}</p>
      <p>Contact : {{ item.Contact }}</p>
    </ion-item>

  </ion-list>
  <ion-grid *ngIf="buttonClicked" class="modal_content">
    <button id="hidden-button">
    <ion-row class="ion-header" >
      <ion-col>
        Filter
      </ion-col>
    </ion-row>
      </button>
    <button id="hidden-button" (click)="Date()">
       
    <ion-row class="ion-row">
      <ion-col>
        Date
      </ion-col>
      <ion-icon name="arrow-dropdown" *ngIf="!visible"></ion-icon>
   <ion-icon name="arrow-dropup" *ngIf="visible"></ion-icon>
    </ion-row>
     </button>
    <button id="hidden-button">
    <ion-row *ngIf="DateClicked"  >
    <ion-item class="dropdate" text-wrap >
        <ion-input class="date" type="date" pickerFormat="MMMM YYYY" (ionChange)="Filters()" displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate" [min]="today" pickerFormat="DDDD MMMM YYYY"   required></ion-input>
    </ion-item>
      
    </ion-row>
  </button>
    <button id="hidden-button" (click)="Gender()">
       
    <ion-row class="ion-row">
      <ion-col>
        Gender
      </ion-col>
      <ion-icon name="arrow-dropdown" *ngIf="!gender"></ion-icon>
   <ion-icon name="arrow-dropup" *ngIf="gender"></ion-icon>
    </ion-row>
     </button>
    <button id="hidden-button">
    <ion-row *ngIf="GenderClicked" radio-group (ionChange)="Filters()" [(ngModel)]="Genders">
        <ion-item *ngIf="!male || !female" class="gender">
    <ion-label> All Genders</ion-label>
    <ion-radio  value="All"> </ion-radio>
    </ion-item>
    <ion-item *ngIf="female" class="gender">
    <ion-label> Female</ion-label>
    <ion-radio  value="Female"> </ion-radio>
    </ion-item>
     <ion-item *ngIf="male" class="gender">
         <ion-label> Male</ion-label>
    <ion-radio  value="Male"></ion-radio>
  </ion-item>
    
      
    </ion-row>
  </button>
    <!--<button id="hidden-button" (click)="PickUp()">
    <ion-row class="ion-row" >
      <ion-col >
       Pick Up
      </ion-col>
         <ion-icon name="arrow-dropdown" *ngIf="!pickup"></ion-icon>
   <ion-icon name="arrow-dropup" *ngIf="pickup"></ion-icon>
    </ion-row>
     </button>
    <button id="hidden-button">
    <ion-row *ngIf="PickUpClicked" >
      <ion-item col-4>
        <ion-badge color="primary" text-wrap>{{this.timeMin2}}</ion-badge>
      </ion-item>
         <ion-item col>
            <ion-input class="pickup" color="primary" type="number"></ion-input>
      </ion-item>
      <ion-item col>
    <ion-badge color="primary" item-right >{{this.timeMax2}}</ion-badge>
    </ion-item>
      <ion-item>
      <ion-range dualKnobs="true" pin="true" min="-10" max="10" value="0" (ionChange)="setBadge(structure)" [(ngModel)]="structure" color="dark">

      </ion-range>
    </ion-item>
  
  </ion-row>
 </button>-->
  </ion-grid>
</ion-content>