page-reauthenticate {
    .label {
    width:80px;
 
  

}
    
.row{

    position: relative;
    width:200px;
 box-sizing: border-box; 
    width: 100%;
margin: auto;
 
}    
 .main-view{
    background: transparent;
  }
  .but{
  margin:auto;
  display:block;


}
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  .modal_content {
  position: fixed;
    top: calc(50% - (20%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;

    z-index: 100;
    margin: 0 auto;

    color: #333;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  
  }
   .modal_header {
  
    top: 32.5%;
    left: 0;
    right: 0;
    width: 100%;



    margin: 0 auto;

    color: #333;
    background: #e8e8e8;



  
  }
  .theroot {
  height: 100px;
  background-color: yellow;
}
}
