page-profile {

  .label{
      float: right;
  }
   .react{
       margin: auto;
        display:block;
        background-color: red;
   }
.buttonCss {
        
  button.alert-button:nth-child(1){
      color: red;
    }



}
}
