<ion-header>

  <ion-navbar color="danger" enable-menu-with-back-views="false">

    <button persistent="true" ion-button class="damn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let item of items ">

    <ion-item>
      <ion-label color="primary">Name:</ion-label>
      <ion-label>{{ item.Name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Username:</ion-label>
      <ion-label> {{ item.Username}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" text-wrap>Personal Contact:</ion-label>
      <ion-label>{{ item.Tel}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Gender:</ion-label>
      <ion-label> {{ item.Gender}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">IC:</ion-label>
      <ion-label> {{ item.IC}}</ion-label>
    </ion-item>



    <ion-item>
      <ion-label color="primary">Address:</ion-label>
      <ion-label>{{ item.Address}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label color="primary">License Plate:</ion-label>
      <ion-label>{{ item.PlateNo}}</ion-label>
    </ion-item>

    <ion-item disabled >
      <ion-label color="primary">Date of birth:</ion-label>
      <ion-datetime  [(ngModel)]="myDate"   class="date">{{ item.DOB }}</ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Age:</ion-label>
      <ion-label> {{ item.Age}}</ion-label>
    </ion-item>










  </ion-list>


  <div class="row">
    <div class="col">
      <button ion-button class="react" (click)="Update()">Update My Profile
     </button>
    </div>


    <div class="col">
      <button ion-button class="react" (click)="Delete()">Delete My Profile
        </button>
    </div>
  </div>
<ion-list [formGroup]="myForm" class="margin">
    <ion-item class="ion-item">
      <ion-label  color="primary">New Email:</ion-label>
      <ion-input formControlName="newEmail"  (ionChange)="matchingEmails()" [class.invalid]="!myForm.get('newEmail').valid 
       && (myForm.get('newEmail').dirty)"></ion-input>
    </ion-item>
    <div class="error" *ngIf="!myForm.get('newEmail').valid && myForm.get('newEmail').touched">
      <p>Please enter a valid email.</p>
    </div>
    <ion-item class="ion-item1">
      <ion-label color="primary" text-wrap>Confirm Email:</ion-label>
      <ion-input formControlName="cfmEmail" (ionChange)="matchingEmails()" 
      [class.invalid]="!myForm.get('cfmEmail').valid 
       && (myForm.get('cfmEmail').dirty)"></ion-input>
    </ion-item>
    <div class='form-text error' *ngIf="myForm.get('newEmail').touched && mismatchedEmails && myForm.get('cfmEmail').touched">
      <p>Emails do not match.</p>
    </div>
  </ion-list>
 <!-- <form [formGroup]="myForm" class="margin">
 
 <div class="row">
      <span class = "input-label">New Email:</span>
      <input type = "text" formControlName="newEmail"  (ionChange)="matchingEmails()" [class.invalid]="!myForm.get('newEmail').valid 
       && (myForm.get('newEmail').dirty)" placeholder = "New Email" />

      <div class="error" *ngIf="!myForm.get('newEmail').valid && myForm.get('newEmail').touched">
        <p>Please enter a valid email.</p>
      </div>
 </div>
  <div class="row">
      <span class = "input-label">Confirm Email:</span>
      <input type = "text" formControlName="cfmEmail" (ionChange)="matchingEmails()" 
      [class.invalid]="!myForm.get('cfmEmail').valid 
       && (myForm.get('cfmEmail').dirty)" placeholder = "Confirm Email" />

</div>
  </form>
-->

    <button ion-button [disabled]="!myForm.valid " (click)="UpdateEmail()">Update My Email
</button>

</ion-content>