<ion-header>

  <ion-navbar color="danger" enable-menu-with-back-views="false">

    <button persistent="true" ion-button class="damn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let item of items ">

    <ion-item>
      <ion-label color="primary">Name:</ion-label>
      <ion-label>{{ item.Name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Username:</ion-label>
      <ion-label> {{ item.Username}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" text-wrap>Personal Contact:</ion-label>
      <ion-label>{{ item.Tel}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Gender:</ion-label>
      <ion-label> {{ item.Gender}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">IC:</ion-label>
      <ion-label> {{ item.IC}}</ion-label>
    </ion-item>



    <ion-item>
      <ion-label color="primary">Address:</ion-label>
      <ion-label>{{ item.Address}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label color="primary">License Plate:</ion-label>
      <ion-label>{{ item.PlateNo}}</ion-label>
    </ion-item>

    <ion-item  >
      <ion-label color="primary" class="date">Date of birth:</ion-label>
      <ion-datetime disabled [(ngModel)]="myDate"   class="ion-datetime-picker"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Age:</ion-label>
      <ion-label> {{ item.Age}}</ion-label>
    </ion-item>










  </ion-list>


  <div class="row">
    <div class="col">
      <button ion-button class="react" (click)="Update()">Update My Profile
     </button>
    </div>


    <div class="col">
      <button ion-button class="react" (click)="Delete()">Delete My Profile
        </button>
    </div>
  </div>
<ion-list [formGroup]="myForm" class="margin">
    <ion-item class="ion-item">
      <ion-label  color="primary" stacked no-lines text-wrap>New Password:</ion-label>
             <ion-input type="password" formControlName="password" placeholder="Password Input" (ionChange)="matchingPasswords()" max="25"
          min="8" [class.invalid]="!myForm.get('password').valid  && (myForm.get('password').dirty || submitAttempt)"></ion-input>
      </ion-item>
      <div class="error" *ngIf="myForm.get('password').hasError('required') && myForm.get('password').touched">
        Password is required
      </div>
      <div class="error" *ngIf="myForm.get('password').hasError('minlength') && myForm.get('password').touched">
        Minimum of 8 characters
      </div>
      <div class="error" *ngIf="myForm.get('password').hasError('maxlength') && myForm.get('password').touched">
        Maximum of 25 characters
      </div>
      <ion-item class="ion-item1">
        <ion-label color="primary" stacked no-lines text-wrap>Confirm Password:</ion-label>
        <ion-input type="password" formControlName="rePassword" placeholder="Password Input" max="25" min="8" (ionChange)="matchingPasswords()"
          [class.invalid]="!myForm.get('rePassword').valid  && (myForm.get('rePassword').dirty  || submitAttempt)"></ion-input>
      </ion-item>
  
       <div class='form-text error' *ngIf="myForm.get('rePassword').touched && mismatchedPasswords && myForm.get('password').touched">
        <p>Passwords do not match.</p>
       </div>
</ion-list>
 <!-- <form [formGroup]="myForm" class="margin">
 
 <div class="row">
      <span class = "input-label">New Password:</span>
      <input type = "text" formControlName="newPassword"  (ionChange)="matchingPasswords()" [class.invalid]="!myForm.get('newPassword').valid 
       && (myForm.get('newPassword').dirty)" placeholder = "New Password" />

      <div class="error" *ngIf="!myForm.get('newPassword').valid && myForm.get('newPassword').touched">
        <p>Please enter a valid Password.</p>
      </div>
 </div>
  <div class="row">
      <span class = "input-label">Confirm Password:</span>
      <input type = "text" formControlName="cfmPassword" (ionChange)="matchingPasswords()" 
      [class.invalid]="!myForm.get('cfmPassword').valid 
       && (myForm.get('cfmPassword').dirty)" placeholder = "Confirm Password" />

</div>
  </form>
-->

    <button ion-button [disabled]=" mismatchedPasswords || !myForm.valid" (click)="UpdatePassword()">Update My Password
</button>

</ion-content>