<ion-header>

  <ion-navbar>
    <ion-title>camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full (click)="takePhoto()">
  <ion-icon name="camera"></ion-icon>Take Photo
  </button>
  <div class="round">
    <img [src]="base64Image" id="img" *ngIf="base64Image" />
  </div>
  <button ion-button (click)="Upload()" *ngIf="base64Image">Upload to Firebase!</button>
  <button ion-button (click)="openModal()" *ngIf="base64Image">Crop!</button>
  <button ion-button (click)="display()">Display</button>
  <img src="{{imgsource}}">
</ion-content>